### ImmiCount 수정하기

In [1]:
import numpy as np
import pandas as pd

In [34]:
df_main = pd.read_csv("C:/HANSSAK/SecureGate/Download/출입국자_지도_국가코드_6대륙_인구수.csv", encoding='cp949')
df_sub = pd.read_csv("C:/HANSSAK/SecureGate/Download/[09] 세계지도.csv", encoding='cp949')

In [35]:
df_main

,code,NAT_HAN_NM,lng,lat,CNT,대륙,CONTINENT,POP_CT_1000_UNIT_CNT,POP_RANK,IMM_RANK
0,646,홍콩,114.0599,22.4114,996,아시아,ASIA,7497.0,105.0,63
1,412,헝가리,19.6180,47.1740,49946,유럽,EUROPE,9660.0,95.0,7
2,0,한국,128.1600,36.3380,2190,아시아,ASIA,51269.0,28.0,44
3,611,필리핀,121.2560,17.1810,0,아시아,ASIA,109581.0,13.0,124
4,430,핀란드,26.1920,62.7160,2270,유럽,EUROPE,5541.0,117.0,43
...,...,...,...,...,...,...,...,...,...,...
216,0,과들루프,-61.5527,16.2495,0,북아메리카,NaN,400.0,176.0,124
217,546,감비아,-14.6410,13.4990,0,아프리카,AFRICA,2417.0,145.0,124
218,205,가이아나,-58.9390,5.1700,0,남아메리카,SA,787.0,164.0,124
219,537,가봉,11.9140,-0.4060,0,아프리카,AFRICA,2226.0,147.0,124
220,525,가나,-1.0620,7.2580,0,아프리카,AFRICA,31073.0,48.0,124

In [36]:
df_sub

     code      NAT_NM       lng      lat  POP_CT_1000_UNIT_CNT  IMGRT_CNT
0       0          중국   99.3877  35.1753               1439324       1040
1       0          인도   78.2360  22.7410               1380005       4879
2       0          미국  -98.8164  40.0792                331003      50633
3       0       인도네시아  114.0450  -0.7390                273524        356
4       0        파키스탄   66.6429  28.1854                220892       3277
..    ...         ...       ...      ...                   ...        ...
195     0         아루바  -69.9818  12.5176                   107         54
196     0          통가 -175.1900 -21.1670                   106          4
197     0  미국령 버진아일랜드  -64.7592  17.7289                   104         57
198     0      앤티가바부다  -61.7860  17.6250                    98         29
199     0         세이셸   55.4924  -4.6841                    98         13

[200 rows x 6 columns]

In [37]:
sub_dict = {}

for i in range(len(df_sub)):
    sub_dict[df_sub.iloc[i, 1]] = int(df_sub.iloc[i, 5])
    
sub_dict

{'중국': 1040,
 '인도': 4879,
 '미국': 50633,
 '인도네시아': 356,
 '파키스탄': 3277,
 '브라질': 1080,
 '나이지리아': 1309,
 '방글라데시': 2115,
 '러시아': 11637,
 '멕시코': 1198,
 '일본': 2771,
 '에티오피아': 1086,
 '필리핀': 226,
 '이집트': 544,
 '베트남': 77,
 '콩고민주공화국(DR콩고)': 953,
 '튀르키예': 6053,
 '이란': 2797,
 '독일': 15762,
 '태국': 3632,
 '영국': 9360,
 '프랑스': 8525,
 '이탈리아': 6387,
 '탄자니아': 426,
 '남아프리카공화국': 2860,
 '미얀마': 76,
 '케냐': 1050,
 '대한민국': 1728,
 '콜롬비아': 1905,
 '스페인': 6842,
 '우간다': 1720,
 '아르헨티나': 2282,
 '알제리': 250,
 '수단': 1379,
 '우크라이나': 4997,
 '이라크': 366,
 '아프가니스탄': 144,
 '폴란드': 817,
 '캐나다': 8049,
 '모로코': 102,
 '사우디아라비아': 13455,
 '우즈베키스탄': 1162,
 '페루': 1225,
 '앙골라': 656,
 '말레이시아': 3477,
 '모잠비크': 339,
 '가나': 476,
 '예멘': 387,
 '네팔': 488,
 '베네수엘라': 1324,
 '마다가스카르': 36,
 '카메룬': 579,
 '코트디부아르': 2565,
 '북한': 50,
 '호주': 7686,
 '니제르': 348,
 '대만': 0,
 '스리랑카': 40,
 '부르키나파소': 724,
 '말리': 486,
 '루마니아': 705,
 '말라위': 191,
 '칠레': 1645,
 '카자흐스탄': 3732,
 '잠비아': 188,
 '과테말라': 84,
 '에콰도르': 785,
 '시리아': 869,
 '네덜란드': 2358,
 '세네갈': 275,
 '캄보디아': 79,
 '차드': 547,
 '소말리아': 59,
 '짐바브웨': 416,
 '기니': 121,
 '르완다': 514,
 '베냉': 394,
 '부룬디': 345,
 '튀니지': 60,
 '볼리비아': 164,
 '벨기에': 2005,
 '아이티': 19,
 '쿠바': 3,
 '남수단': 882,
 '도미니카공화국': 604,
 '체코': 541,
 '그리스': 1340,
 '요르단': 3458,
 '포르투갈': 1002,
 '아제르바이잔': 252,
 '스웨덴': 2004,
 '온두라스': 39,
 '아랍에미리트': 8716,
 '헝가리': 585,
 '타지키스탄': 276,
 '벨라루스': 1067,
 '오스트리아': 1738,
 '파푸아뉴기니': 31,
 '세르비아': 823,
 '이스라엘': 1954,
 '스위스': 2491,
 '토고': 280,
 '시에라리온': 54,
 '홍콩': 2962,
 '라오스': 49,
 '파라과이': 170,
 '불가리아': 184,
 '리비아': 827,
 '레바논': 1713,
 '니카라과': 42,
 '키르기즈': 199,
 '엘살바도르': 43,
 '투르크메니스탄': 195,
 '싱가포르': 2524,
 '덴마크': 718,
 '핀란드': 386,
 '콩고공화국': 388,
 '슬로바키아': 197,
 '노르웨이': 852,
 '오만': 2373,
 '팔레스타인': 273,
 '코스타리카': 521,
 '라이베리아': 88,
 '아일랜드': 871,
 '중앙아프리카공화국': 89,
 '뉴질랜드': 1382,
 '모리타니아': 182,
 '파나마': 313,
 '쿠웨이트': 3110,
 '크로아티아': 528,
 '몰도바': 104,
 '조지아': 79,
 '에리트레아': 14,
 '우루과이': 108,
 '보스니아헤르체고비나': 36,
 '몽골': 21,
 '아르메니아': 190,
 '자메이카': 24,
 '카타르': 2226,
 '알바니아': 49,
 '푸에르토리코': 247,
 '리투아니아': 145,
 '나미비아': 109,
 '감비아': 216,
 '보츠와나': 110,
 '가봉': 417,
 '레소토': 12,
 '북마케도니아': 131,
 '슬로베니아': 278,
 '기니비사우': 18,
 '라트비아': 239,
 '바레인': 936,
 '적도기니': 231,
 '트리니다드토바고': 79,
 '에스토니아': 199,
 '동티모르': 8,
 '모리셔스': 29,
 '사이프러스': 190,
 '에스와티니': 33,
 '지부티': 120,
 '피지': 14,
 '레위니옹': 132,
 '코모로': 12,
 '가이아나': 31,
 '부탄': 54,
 '솔로몬제도': 3,
 '마카오': 403,
 '몬테네그로': 71,
 '룩셈부르크': 298,
 '서사하라': 5,
 '수리남': 48,
 '카보베르데': 16,
 '몰디브': 70,
 '몰타': 115,
 '브루나이': 112,
 '과들루프': 90,
 '벨리즈': 62,
 '바하마': 64,
 '마르티니크': 69,
 '아이슬란드': 65,
 '바누아투': 3,
 '프랑스령 기아나': 119,
 '바베이도스': 35,
 '누벨칼레도니': 73,
 '프랑스령 폴리네시아': 30,
 '마요트': 112,
 '상투메프린시페': 2,
 '사모아': 4,
 '세인트 루시아': 8,
 '괌': 80,
 '퀴라소': 57,
 '키리바시': 3,
 '마이크로네시아연방': 3,
 '그레나다': 7,
 '세인트 빈센트 그레나딘': 5,
 '아루바': 54,
 '통가': 4,
 '미국령 버진아일랜드': 57,
 '앤티가바부다': 29,
 '세이셸': 13}

In [38]:
df_main['CNT'] = df_main['NAT_HAN_NM'].map(sub_dict)
df_main

,code,NAT_HAN_NM,lng,lat,CNT,대륙,CONTINENT,POP_CT_1000_UNIT_CNT,POP_RANK,IMM_RANK
0,646,홍콩,114.0599,22.4114,2962.0,아시아,ASIA,7497.0,105.0,63
1,412,헝가리,19.6180,47.1740,585.0,유럽,EUROPE,9660.0,95.0,7
2,0,한국,128.1600,36.3380,NaN,아시아,ASIA,51269.0,28.0,44
3,611,필리핀,121.2560,17.1810,226.0,아시아,ASIA,109581.0,13.0,124
4,430,핀란드,26.1920,62.7160,386.0,유럽,EUROPE,5541.0,117.0,43
...,...,...,...,...,...,...,...,...,...,...
216,0,과들루프,-61.5527,16.2495,90.0,북아메리카,NaN,400.0,176.0,124
217,546,감비아,-14.6410,13.4990,216.0,아프리카,AFRICA,2417.0,145.0,124
218,205,가이아나,-58.9390,5.1700,31.0,남아메리카,SA,787.0,164.0,124
219,537,가봉,11.9140,-0.4060,417.0,아프리카,AFRICA,2226.0,147.0,124
220,525,가나,-1.0620,7.2580,476.0,아프리카,AFRICA,31073.0,48.0,124

### NAT_HAN_NM 이 달라서 CNT 수정 안된 것들 수정해주기

In [39]:
df_main.loc[df_main['CNT'].isna(), 'NAT_HAN_NM'].tolist()

['한국',
 '팔라우',
 '티모르민주공화국',
 '투발루',
 '터크스케이커스',
 '타이완',
 '타이',
 '키프로스',
 '쿡아일랜드',
 '콩고민주공화국',
 '콩고',
 '케이맨제도',
 '차트',
 '오스트레일리아',
 '예멘공화국',
 '영령버진아일랜드',
 '앵귈라',
 '앤티카바부다',
 '안도라',
 '아랍에미리트연합',
 '신트마르턴',
 '슬로바크',
 '솔로몬군도',
 '세인트크리스토퍼네비스',
 '세인트빈센트그레나딘',
 '세인트루시아',
 '산마리노',
 '사바섬',
 '불령폴리네시아',
 '불령가이아나',
 '북마리아나군도',
 '보스니아-헤르체고비나',
 '보네르섬',
 '버뮤다',
 '미이크로네시아',
 '미령사모아',
 '미령버진아일랜드',
 '몬서래트',
 '모리타니',
 '모나코',
 '마샬군도',
 '리히텐슈타인',
 '러시아(연방)',
 '도미니카연방',
 '니우에',
 '뉴칼레도니아',
 '남수단공화국',
 '나우루']

In [40]:
df_sub[df_sub['NAT_NM'] == "콩고공화국"]

     code NAT_NM    lng    lat  POP_CT_1000_UNIT_CNT  IMGRT_CNT
116     0  콩고공화국  16.08  0.509                  5518        388

In [41]:
country_dict = {
    '한국': '대한민국',
    '타이완': '대만',
    '타이': '태국',
    '콩고민주공화국': '콩고민주공화국(DR콩고)',
    '차트': '차드',
    '오스트레일리아': '호주',
    '예멘공화국': '예멘',
    '앤티카바부다': '앤티가바부다',
    '슬로바크': '슬로바키아',
    '솔로몬군도': '솔로몬제도',
    '세인트빈센트그레나딘': '세인트 빈센트 그레나딘',
    '세인트루시아': '세인트 루시아',
    '불령폴리네시아': '프랑스령 폴리네시아',
    '불령가이아나': '프랑스령 기아나',
    '보스니아-헤르체고비나': '보스니아헤르체고비나',
    '미이크로네시아': '마이크로네시아연방',
    '미령사모아': '사모아',
    '미령버진아일랜드': '미국령 버진아일랜드',
    '모리타니': '모리타니아',
    '러시아(연방)': '러시아',
    '뉴칼레도니아': '누벨칼레도니',
    '티모르민주공화국': '동티모르',
    '키프로스': '사이프러스',
    '콩고': '콩고공화국',
    '아랍에미리트연합': '아랍에미리트',
    '도미니카연방': '도미니카공화국',
    '남수단공화국': '남수단',
    '모나코': '모나코',
    '마샬군도': '마샬군도',
    '리히텐슈타인': '리히텐슈타인',
    '산마리노': '산마리노',
    '나우루': '나우루',
    '니우에': '니우에',
    '팔라우': '팔라우',
    '투발루': '투발루',
    '보네르섬': '보네르섬',
    '버뮤다': '버뮤다',
    '북마리아나군도': '북마리아나군도',
    '신트마르턴': '신트마르턴',
    '영령버진아일랜드': '미국령 버진아일랜드',
    '쿡아일랜드': '쿡아일랜드',
    '터크스케이커스': '터크스케이커스 제도',
    '앵귈라': '앵귈라',
    '케이맨제도': '케이맨제도',
    '안도라': '안도라',
    '사바섬': '사바섬',
    '몬서래트': '몬서랫'
}

In [42]:
reversed_dict = {v: k for k, v in country_dict.items()}

In [54]:
df_sub['NAT_NM'] = df_sub['NAT_NM'].replace(country_dict)
df_sub

     code      NAT_NM       lng      lat  POP_CT_1000_UNIT_CNT  IMGRT_CNT
0       0          중국   99.3877  35.1753               1439324       1040
1       0          인도   78.2360  22.7410               1380005       4879
2       0          미국  -98.8164  40.0792                331003      50633
3       0       인도네시아  114.0450  -0.7390                273524        356
4       0        파키스탄   66.6429  28.1854                220892       3277
..    ...         ...       ...      ...                   ...        ...
195     0         아루바  -69.9818  12.5176                   107         54
196     0          통가 -175.1900 -21.1670                   106          4
197     0  미국령 버진아일랜드  -64.7592  17.7289                   104         57
198     0      앤티가바부다  -61.7860  17.6250                    98         29
199     0         세이셸   55.4924  -4.6841                    98         13

[200 rows x 6 columns]

In [60]:
sub_dict = {}

for i in range(len(df_sub)):
    sub_dict[df_sub.iloc[i, 1]] = int(df_sub.iloc[i, 5])
    
sub_dict

{'중국': 1040,
 '인도': 4879,
 '미국': 50633,
 '인도네시아': 356,
 '파키스탄': 3277,
 '브라질': 1080,
 '나이지리아': 1309,
 '방글라데시': 2115,
 '러시아': 11637,
 '멕시코': 1198,
 '일본': 2771,
 '에티오피아': 1086,
 '필리핀': 226,
 '이집트': 544,
 '베트남': 77,
 '콩고민주공화국(DR콩고)': 953,
 '튀르키예': 6053,
 '이란': 2797,
 '독일': 15762,
 '태국': 3632,
 '영국': 9360,
 '프랑스': 8525,
 '이탈리아': 6387,
 '탄자니아': 426,
 '남아프리카공화국': 2860,
 '미얀마': 76,
 '케냐': 1050,
 '대한민국': 1728,
 '콜롬비아': 1905,
 '스페인': 6842,
 '우간다': 1720,
 '아르헨티나': 2282,
 '알제리': 250,
 '수단': 1379,
 '우크라이나': 4997,
 '이라크': 366,
 '아프가니스탄': 144,
 '폴란드': 817,
 '캐나다': 8049,
 '모로코': 102,
 '사우디아라비아': 13455,
 '우즈베키스탄': 1162,
 '페루': 1225,
 '앙골라': 656,
 '말레이시아': 3477,
 '모잠비크': 339,
 '가나': 476,
 '예멘': 387,
 '네팔': 488,
 '베네수엘라': 1324,
 '마다가스카르': 36,
 '카메룬': 579,
 '코트디부아르': 2565,
 '북한': 50,
 '호주': 7686,
 '니제르': 348,
 '대만': 0,
 '스리랑카': 40,
 '부르키나파소': 724,
 '말리': 486,
 '루마니아': 705,
 '말라위': 191,
 '칠레': 1645,
 '카자흐스탄': 3732,
 '잠비아': 188,
 '과테말라': 84,
 '에콰도르': 785,
 '시리아': 869,
 '네덜란드': 2358,
 '세네갈': 275,
 '캄보디아': 79,
 '차드': 547,
 '소말리아': 59,
 '짐바브웨': 416,
 '기니': 121,
 '르완다': 514,
 '베냉': 394,
 '부룬디': 345,
 '튀니지': 60,
 '볼리비아': 164,
 '벨기에': 2005,
 '아이티': 19,
 '쿠바': 3,
 '남수단': 882,
 '도미니카공화국': 604,
 '체코': 541,
 '그리스': 1340,
 '요르단': 3458,
 '포르투갈': 1002,
 '아제르바이잔': 252,
 '스웨덴': 2004,
 '온두라스': 39,
 '아랍에미리트': 8716,
 '헝가리': 585,
 '타지키스탄': 276,
 '벨라루스': 1067,
 '오스트리아': 1738,
 '파푸아뉴기니': 31,
 '세르비아': 823,
 '이스라엘': 1954,
 '스위스': 2491,
 '토고': 280,
 '시에라리온': 54,
 '홍콩': 2962,
 '라오스': 49,
 '파라과이': 170,
 '불가리아': 184,
 '리비아': 827,
 '레바논': 1713,
 '니카라과': 42,
 '키르기즈': 199,
 '엘살바도르': 43,
 '투르크메니스탄': 195,
 '싱가포르': 2524,
 '덴마크': 718,
 '핀란드': 386,
 '콩고공화국': 388,
 '슬로바키아': 197,
 '노르웨이': 852,
 '오만': 2373,
 '팔레스타인': 273,
 '코스타리카': 521,
 '라이베리아': 88,
 '아일랜드': 871,
 '중앙아프리카공화국': 89,
 '뉴질랜드': 1382,
 '모리타니아': 182,
 '파나마': 313,
 '쿠웨이트': 3110,
 '크로아티아': 528,
 '몰도바': 104,
 '조지아': 79,
 '에리트레아': 14,
 '우루과이': 108,
 '보스니아헤르체고비나': 36,
 '몽골': 21,
 '아르메니아': 190,
 '자메이카': 24,
 '카타르': 2226,
 '알바니아': 49,
 '푸에르토리코': 247,
 '리투아니아': 145,
 '나미비아': 109,
 '감비아': 216,
 '보츠와나': 110,
 '가봉': 417,
 '레소토': 12,
 '북마케도니아': 131,
 '슬로베니아': 278,
 '기니비사우': 18,
 '라트비아': 239,
 '바레인': 936,
 '적도기니': 231,
 '트리니다드토바고': 79,
 '에스토니아': 199,
 '동티모르': 8,
 '모리셔스': 29,
 '사이프러스': 190,
 '에스와티니': 33,
 '지부티': 120,
 '피지': 14,
 '레위니옹': 132,
 '코모로': 12,
 '가이아나': 31,
 '부탄': 54,
 '솔로몬제도': 3,
 '마카오': 403,
 '몬테네그로': 71,
 '룩셈부르크': 298,
 '서사하라': 5,
 '수리남': 48,
 '카보베르데': 16,
 '몰디브': 70,
 '몰타': 115,
 '브루나이': 112,
 '과들루프': 90,
 '벨리즈': 62,
 '바하마': 64,
 '마르티니크': 69,
 '아이슬란드': 65,
 '바누아투': 3,
 '프랑스령 기아나': 119,
 '바베이도스': 35,
 '누벨칼레도니': 73,
 '프랑스령 폴리네시아': 30,
 '마요트': 112,
 '상투메프린시페': 2,
 '사모아': 4,
 '세인트 루시아': 8,
 '괌': 80,
 '퀴라소': 57,
 '키리바시': 3,
 '마이크로네시아연방': 3,
 '그레나다': 7,
 '세인트 빈센트 그레나딘': 5,
 '아루바': 54,
 '통가': 4,
 '미국령 버진아일랜드': 57,
 '앤티가바부다': 29,
 '세이셸': 13}

### 다시 CNT 수정

In [56]:
df_main['CNT'] = df_main['NAT_HAN_NM'].map(sub_dict)
df_main

,code,NAT_HAN_NM,lng,lat,CNT,대륙,CONTINENT,POP_CT_1000_UNIT_CNT,POP_RANK,IMM_RANK
0,646,홍콩,114.0599,22.4114,2962.0,아시아,ASIA,7497,105,21
1,412,헝가리,19.6180,47.1740,585.0,유럽,EUROPE,9660,95,71
2,0,한국,128.1600,36.3380,NaN,아시아,ASIA,51269,28,38
3,611,필리핀,121.2560,17.1810,226.0,아시아,ASIA,109581,13,107
4,430,핀란드,26.1920,62.7160,386.0,유럽,EUROPE,5541,117,89
...,...,...,...,...,...,...,...,...,...,...
216,0,과들루프,-61.5527,16.2495,90.0,북아메리카,NORTH,400,176,135
217,546,감비아,-14.6410,13.4990,216.0,아프리카,AFRICA,2417,145,108
218,205,가이아나,-58.9390,5.1700,31.0,남아메리카,SA,787,164,171
219,537,가봉,11.9140,-0.4060,417.0,아프리카,AFRICA,2226,147,83
220,525,가나,-1.0620,7.2580,476.0,아프리카,AFRICA,31073,48,81

### CONTINENT 채우기

In [57]:
df_main.loc[df_main['대륙'] == '북아메리카', 'CONTINENT'] = 'NORTH'
df_main

,code,NAT_HAN_NM,lng,lat,CNT,대륙,CONTINENT,POP_CT_1000_UNIT_CNT,POP_RANK,IMM_RANK
0,646,홍콩,114.0599,22.4114,2962.0,아시아,ASIA,7497,105,21
1,412,헝가리,19.6180,47.1740,585.0,유럽,EUROPE,9660,95,71
2,0,한국,128.1600,36.3380,NaN,아시아,ASIA,51269,28,38
3,611,필리핀,121.2560,17.1810,226.0,아시아,ASIA,109581,13,107
4,430,핀란드,26.1920,62.7160,386.0,유럽,EUROPE,5541,117,89
...,...,...,...,...,...,...,...,...,...,...
216,0,과들루프,-61.5527,16.2495,90.0,북아메리카,NORTH,400,176,135
217,546,감비아,-14.6410,13.4990,216.0,아프리카,AFRICA,2417,145,108
218,205,가이아나,-58.9390,5.1700,31.0,남아메리카,SA,787,164,171
219,537,가봉,11.9140,-0.4060,417.0,아프리카,AFRICA,2226,147,83
220,525,가나,-1.0620,7.2580,476.0,아프리카,AFRICA,31073,48,81

In [58]:
df_main['POP_RANK'] = df_main['POP_CT_1000_UNIT_CNT'].rank(method='min', ascending=False)
df_main['IMM_RANK'] = df_main['CNT'].rank(method='min', ascending=False)

In [59]:
df_main['CNT'] = df_main['CNT'].fillna(0).astype(int)
df_main['POP_CT_1000_UNIT_CNT'] = df_main['POP_CT_1000_UNIT_CNT'].fillna(0).astype(int)
df_main['POP_RANK'] = df_main['POP_RANK'].fillna(0).astype(int)
df_main['IMM_RANK'] = df_main['IMM_RANK'].fillna(0).astype(int)
df_main

,code,NAT_HAN_NM,lng,lat,CNT,대륙,CONTINENT,POP_CT_1000_UNIT_CNT,POP_RANK,IMM_RANK
0,646,홍콩,114.0599,22.4114,2962,아시아,ASIA,7497,105,17
1,412,헝가리,19.6180,47.1740,585,유럽,EUROPE,9660,95,64
2,0,한국,128.1600,36.3380,0,아시아,ASIA,51269,28,0
3,611,필리핀,121.2560,17.1810,226,아시아,ASIA,109581,13,97
4,430,핀란드,26.1920,62.7160,386,유럽,EUROPE,5541,117,79
...,...,...,...,...,...,...,...,...,...,...
216,0,과들루프,-61.5527,16.2495,90,북아메리카,NORTH,400,176,121
217,546,감비아,-14.6410,13.4990,216,아프리카,AFRICA,2417,145,98
218,205,가이아나,-58.9390,5.1700,31,남아메리카,SA,787,164,154
219,537,가봉,11.9140,-0.4060,417,아프리카,AFRICA,2226,147,75
220,525,가나,-1.0620,7.2580,476,아프리카,AFRICA,31073,48,73

### 아주아주아주 완벽한 csv 내보내기

In [53]:
df_main.to_csv("C:/HANSSAK/SecureGate/Download/출입국자_지도_국가코드_6대륙_250613.csv", index=False, encoding='cp949')