### 트리맵 전처리 코드

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:\\HANSSAK\\SecureGate\\Download\\250609_장기체류(등록+거소)외국인_데이터셋(202504_05)_세종시....csv", encoding='cp949')
df

          기준년월      시도명 시군구명 대분류자격 소분류자격       국적  외국인수
0       202504  강원특별자치도  강릉시    00    00  러시아(연방)    14
1       202504  강원특별자치도  강릉시    00    00      모로코     1
2       202504  강원특별자치도  강릉시    00    00    방글라데시     1
3       202504  강원특별자치도  강릉시    00    00     스리랑카     1
4       202504  강원특별자치도  강릉시    00    00   우즈베키스탄     4
...        ...      ...  ...   ...   ...      ...   ...
233781  202505     충청북도  충주시    H2    71    우크라이나     1
233782  202505     충청북도  충주시    H2    71   한국계중국인     7
233783  202505     충청북도  충주시    H2    72   한국계중국인    13
233784  202505     충청북도  충주시    H2    91   한국계중국인     4
233785  202505     충청북도  충주시    H2    99   한국계중국인     6

[233786 rows x 7 columns]

In [7]:
df_202504 = df.loc[
    (df['기준년월'] == 202504) & (df['시도명'] == '경기도'),
    ['기준년월', '시도명', '시군구명', '대분류자격', '소분류자격', '국적', '외국인수']
]
df_202504

         기준년월  시도명 시군구명 대분류자격 소분류자격      국적  외국인수
3731   202504  경기도  가평군    00    00      네팔     1
3732   202504  경기도  가평군    00    00      몽골     1
3733   202504  경기도  가평군    00    00     미얀마     1
3734   202504  경기도  가평군    00    00     베트남     1
3735   202504  경기도  가평군    00    00      중국     1
...       ...  ...  ...   ...   ...     ...   ...
30793  202504  경기도  화성시    H2    99  우즈베키스탄     2
30794  202504  경기도  화성시    H2    99   우크라이나     1
30795  202504  경기도  화성시    H2    99   카자흐스탄     1
30796  202504  경기도  화성시    H2    99    키르기즈     1
30797  202504  경기도  화성시    H2    99  한국계중국인   113

[27067 rows x 7 columns]

In [8]:
df_202505 = df.loc[
    (df['기준년월'] == 202505) & (df['시도명'] == '경기도'),
    ['기준년월', '시도명', '시군구명', '대분류자격', '소분류자격', '국적', '외국인수']
]
df_202505

          기준년월  시도명 시군구명 대분류자격 소분류자격      국적  외국인수
120384  202505  경기도  가평군    00    00      네팔     1
120385  202505  경기도  가평군    00    00      몽골     1
120386  202505  경기도  가평군    00    00     미얀마     1
120387  202505  경기도  가평군    00    00     베트남     1
120388  202505  경기도  가평군    00    00      중국     1
...        ...  ...  ...   ...   ...     ...   ...
147551  202505  경기도  화성시    H2    99  우즈베키스탄     2
147552  202505  경기도  화성시    H2    99   우크라이나     1
147553  202505  경기도  화성시    H2    99   카자흐스탄     1
147554  202505  경기도  화성시    H2    99    키르기즈     1
147555  202505  경기도  화성시    H2    99  한국계중국인   117

[27172 rows x 7 columns]

### 시군구명, 대분류자격 별로 외국인수 합치기

In [12]:
df_202504_groupby = df_202504.groupby(
    ['시군구명', '대분류자격'], as_index=False
)['외국인수'].sum()

df_202505_groupby = df_202505.groupby(
    ['시군구명', '대분류자격'], as_index=False
)['외국인수'].sum()

In [13]:
df_202504_groupby

     시군구명 대분류자격  외국인수
0     가평군    00     6
1     가평군   D10    17
2     가평군    D2    39
3     가평군    D4    38
4     가평군    D6    11
...   ...   ...   ...
1071  화성시    F5  5414
1072  화성시    F6  3790
1073  화성시    G1  2063
1074  화성시    H1    17
1075  화성시    H2  2440

[1076 rows x 3 columns]

In [14]:
df_202505_groupby

     시군구명 대분류자격  외국인수
0     가평군    00     6
1     가평군   D10    16
2     가평군    D2    42
3     가평군    D4    35
4     가평군    D6    11
...   ...   ...   ...
1082  화성시    F5  5481
1083  화성시    F6  3796
1084  화성시    G1  2092
1085  화성시    H1    15
1086  화성시    H2  2407

[1087 rows x 3 columns]

### 이제 두 df 합치기

In [21]:
Treemap_2025_경기도 = df_202504_groupby.merge(
    df_202505_groupby,
    on=['시군구명', '대분류자격'],
    suffixes=('_202504', '_202505')
)

Treemap_2025_경기도.rename(columns={
    '외국인수_202504': '202504_외국인수',
    '외국인수_202505': '202505_외국인수',
    '대분류자격': '자격_대분류'
}, inplace=True)

Treemap_2504_2505_경기도 = Treemap_2025_경기도

In [22]:
Treemap_2504_2505_경기도

     시군구명 자격_대분류  202504_외국인수  202505_외국인수
0     가평군     00            6            6
1     가평군    D10           17           16
2     가평군     D2           39           42
3     가평군     D4           38           35
4     가평군     D6           11           11
...   ...    ...          ...          ...
1069  화성시     F5         5414         5481
1070  화성시     F6         3790         3796
1071  화성시     G1         2063         2092
1072  화성시     H1           17           15
1073  화성시     H2         2440         2407

[1074 rows x 4 columns]

### 자격_코드명 추가

In [38]:
name = pd.read_excel("C:/HANSSAK/SecureGate/Download/250529_대분류자격코드명_메타.xlsx")
name = dict(zip(name['자격_대분류'], name['LW_NM']))

In [39]:
name

{0: '자격없음',
 'A1': '외교',
 'A2': '공무',
 'A3': '협정',
 'B1': '사증면제',
 'B2': '관광통과',
 'C1': '일시취재',
 'C2': '단기상용',
 'C3': '단기방문',
 'C4': '단기취업',
 'D1': '문화예술',
 'D10': '구직',
 'D2': '유학',
 'D3': '기술연수',
 'D4': '일반연수',
 'D5': '취재',
 'D6': '종교',
 'D7': '주재',
 'D8': '기업투자',
 'D9': '무역경영',
 'E1': '교수',
 'E10': '선원취업',
 'E2': '회화',
 'E3': '연구',
 'E4': '기술지도',
 'E5': '전문직업',
 'E6': '예술흥행',
 'E7': '특정활동',
 'E8': '계절근로',
 'E9': '비전문취업',
 'F1': '방문동거',
 'F2': '거주',
 'F3': '동반',
 'F4': '재외동포',
 'F5': '영주',
 'F6': '결혼이민',
 'G1': '기타',
 'H1': '관광취업',
 'H2': '방문취업',
 'T1': '관광상륙',
 'T2': '조건부입국허가'}

In [40]:
Treemap_2504_2505_경기도['자격_코드명'] = Treemap_2504_2505_경기도['자격_대분류'].map(name)
Treemap_2504_2505_경기도

     시군구명 자격_대분류  202504_외국인수  202505_외국인수 자격_코드명  2504to2505
0     가평군     00            6            6    NaN        0.00
1     가평군    D10           17           16     구직       -5.88
2     가평군     D2           39           42     유학        7.69
3     가평군     D4           38           35   일반연수       -7.89
4     가평군     D6           11           11     종교        0.00
...   ...    ...          ...          ...    ...         ...
1069  화성시     F5         5414         5481     영주        1.24
1070  화성시     F6         3790         3796   결혼이민        0.16
1071  화성시     G1         2063         2092     기타        1.41
1072  화성시     H1           17           15   관광취업      -11.76
1073  화성시     H2         2440         2407   방문취업       -1.35

[1074 rows x 6 columns]

In [24]:
# 안전한 계산을 위해 0으로 나누는 경우 대비
def calc_rate_change(new, old):
    return (new - old) / old if old != 0 else None

# 증감률 계산
Treemap_2504_2505_경기도["2504to2505"] = (((Treemap_2504_2505_경기도["202505_외국인수"] - Treemap_2504_2505_경기도["202504_외국인수"]) / Treemap_2504_2505_경기도["202504_외국인수"]) * 100).round(2)

Treemap_2504_2505_경기도

     시군구명 자격_대분류  202504_외국인수  202505_외국인수 자격_코드명  2504to2505
0     가평군     00            6            6   자격없음        0.00
1     가평군    D10           17           16     구직       -5.88
2     가평군     D2           39           42     유학        7.69
3     가평군     D4           38           35   일반연수       -7.89
4     가평군     D6           11           11     종교        0.00
...   ...    ...          ...          ...    ...         ...
1069  화성시     F5         5414         5481     영주        1.24
1070  화성시     F6         3790         3796   결혼이민        0.16
1071  화성시     G1         2063         2092     기타        1.41
1072  화성시     H1           17           15   관광취업      -11.76
1073  화성시     H2         2440         2407   방문취업       -1.35

[1074 rows x 6 columns]

### excel로 추출하기

In [25]:
Treemap_2504_2505_경기도.to_csv(
    "C:\\HANSSAK\\SecureGate\\Download\\Treemap_2504_2505_경기도.csv",
    index=False,
    encoding='cp949'
)

## 계절근로 데이터만 빼기

In [29]:
df_202504_계절 = df.loc[
    (df['기준년월'] == 202504) & (df['대분류자격'] == 'E8'),
    ['기준년월', '시도명', '시군구명', '대분류자격', '소분류자격', '국적', '외국인수']
]
df_202504_계절

          기준년월      시도명     시군구명 대분류자격 소분류자격    국적  외국인수
130     202504  강원특별자치도      강릉시    E8    01   라오스    63
131     202504  강원특별자치도      강릉시    E8    02   베트남    44
132     202504  강원특별자치도      강릉시    E8    02  캄보디아     3
512     202504  강원특별자치도      고성군    E8    02   베트남    13
845     202504  강원특별자치도      삼척시    E8    01   필리핀    27
...        ...      ...      ...   ...   ...   ...   ...
115638  202504     충청북도  청주시 흥덕구    E8    02  캄보디아     1
115639  202504     충청북도  청주시 흥덕구    E8    02    타이     2
116265  202504     충청북도      충주시    E8    01   라오스    13
116266  202504     충청북도      충주시    E8    01  캄보디아    70
116267  202504     충청북도      충주시    E8    02   베트남    70

[669 rows x 7 columns]

In [30]:
df_202505_계절 = df.loc[
    (df['기준년월'] == 202505) & (df['대분류자격'] == 'E8'),
    ['기준년월', '시도명', '시군구명', '대분류자격', '소분류자격', '국적', '외국인수']
]
df_202505_계절

          기준년월      시도명     시군구명 대분류자격 소분류자격    국적  외국인수
116753  202505  강원특별자치도      강릉시    E8    01   라오스    66
116754  202505  강원특별자치도      강릉시    E8    02   베트남    48
116755  202505  강원특별자치도      강릉시    E8    02  캄보디아     3
117137  202505  강원특별자치도      고성군    E8    02   베트남    16
117279  202505  강원특별자치도      동해시    E8    02   베트남     3
...        ...      ...      ...   ...   ...   ...   ...
232793  202505     충청북도  청주시 흥덕구    E8    03   라오스     1
233422  202505     충청북도      충주시    E8    01   라오스    60
233423  202505     충청북도      충주시    E8    01  캄보디아   163
233424  202505     충청북도      충주시    E8    02   베트남    86
233425  202505     충청북도      충주시    E8    02    중국     1

[744 rows x 7 columns]

In [43]:
df_202504_계절_groupby = df_202504_계절.groupby(
    ['시도명', '시군구명', '대분류자격'], as_index=False
)['외국인수'].sum()

df_202505_계절_groupby = df_202505_계절.groupby(
    ['시도명', '시군구명', '대분류자격'], as_index=False
)['외국인수'].sum()

In [44]:
Treemap_2025_계절 = df_202504_계절_groupby.merge(
    df_202505_계절_groupby,
    on=['시군구명', '대분류자격'],
    suffixes=('_202504', '_202505')
)

Treemap_2025_계절.rename(columns={
    '외국인수_202504': '202504_외국인수',
    '외국인수_202505': '202505_외국인수',
    '대분류자격': '자격_대분류'
}, inplace=True)

Treemap_2504_2505_계절 = Treemap_2025_계절

In [45]:
Treemap_2504_2505_계절

    시도명_202504     시군구명 자격_대분류  202504_외국인수 시도명_202505  202505_외국인수
0      강원특별자치도      강릉시     E8          110    강원특별자치도          117
1      강원특별자치도      고성군     E8           13    강원특별자치도           16
2      강원특별자치도      고성군     E8           13       경상남도          145
3      강원특별자치도      삼척시     E8           80    강원특별자치도          179
4      강원특별자치도      속초시     E8           12    강원특별자치도           11
..         ...      ...    ...          ...        ...          ...
159       충청북도  청주시 상당구     E8           24       충청북도           26
160       충청북도  청주시 서원구     E8           11       충청북도           11
161       충청북도  청주시 청원구     E8            6       충청북도            7
162       충청북도  청주시 흥덕구     E8           84       충청북도          111
163       충청북도      충주시     E8          153       충청북도          310

[164 rows x 6 columns]

In [46]:
# 안전한 계산을 위해 0으로 나누는 경우 대비
def calc_rate_change(new, old):
    return (new - old) / old if old != 0 else None

# 증감률 계산
Treemap_2504_2505_계절["2504to2505"] = (((Treemap_2504_2505_계절["202505_외국인수"] - Treemap_2504_2505_계절["202504_외국인수"]) / Treemap_2504_2505_계절["202504_외국인수"]) * 100).round(2)

Treemap_2504_2505_계절

,시도명_202504,시군구명,자격_대분류,202504_외국인수,시도명_202505,202505_외국인수,2504to2505
0,강원특별자치도,강릉시,E8,110,강원특별자치도,117,6.36
1,강원특별자치도,고성군,E8,13,강원특별자치도,16,23.08
2,강원특별자치도,고성군,E8,13,경상남도,145,1015.38
3,강원특별자치도,삼척시,E8,80,강원특별자치도,179,123.75
4,강원특별자치도,속초시,E8,12,강원특별자치도,11,-8.33
...,...,...,...,...,...,...,...
159,충청북도,청주시 상당구,E8,24,충청북도,26,8.33
160,충청북도,청주시 서원구,E8,11,충청북도,11,0.00
161,충청북도,청주시 청원구,E8,6,충청북도,7,16.67
162,충청북도,청주시 흥덕구,E8,84,충청북도,111,32.14
163,충청북도,충주시,E8,153,충청북도,310,102.61

In [47]:
Treemap_2504_2505_계절['자격_코드명'] = Treemap_2504_2505_계절['자격_대분류'].map(name)
Treemap_2504_2505_계절

,시도명_202504,시군구명,자격_대분류,202504_외국인수,시도명_202505,202505_외국인수,2504to2505,자격_코드명
0,강원특별자치도,강릉시,E8,110,강원특별자치도,117,6.36,계절근로
1,강원특별자치도,고성군,E8,13,강원특별자치도,16,23.08,계절근로
2,강원특별자치도,고성군,E8,13,경상남도,145,1015.38,계절근로
3,강원특별자치도,삼척시,E8,80,강원특별자치도,179,123.75,계절근로
4,강원특별자치도,속초시,E8,12,강원특별자치도,11,-8.33,계절근로
...,...,...,...,...,...,...,...,...
159,충청북도,청주시 상당구,E8,24,충청북도,26,8.33,계절근로
160,충청북도,청주시 서원구,E8,11,충청북도,11,0.00,계절근로
161,충청북도,청주시 청원구,E8,6,충청북도,7,16.67,계절근로
162,충청북도,청주시 흥덕구,E8,84,충청북도,111,32.14,계절근로
163,충청북도,충주시,E8,153,충청북도,310,102.61,계절근로

In [48]:
Treemap_2504_2505_계절.to_csv(
    "C:\\HANSSAK\\SecureGate\\Download\\Treemap_2504_2505_계절.csv",
    index=False,
    encoding='cp949'
)