### 트리맵 전처리 코드

In [1]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv("C:\\HANSSAK\\SecureGate\\Download\\250609_장기체류(등록+거소)외국인_데이터셋(202504_05)_세종시....csv", encoding='cp949')
df

          기준년월      시도명 시군구명 대분류자격 소분류자격       국적  외국인수
0       202504  강원특별자치도  강릉시    00    00  러시아(연방)    14
1       202504  강원특별자치도  강릉시    00    00      모로코     1
2       202504  강원특별자치도  강릉시    00    00    방글라데시     1
3       202504  강원특별자치도  강릉시    00    00     스리랑카     1
4       202504  강원특별자치도  강릉시    00    00   우즈베키스탄     4
...        ...      ...  ...   ...   ...      ...   ...
233781  202505     충청북도  충주시    H2    71    우크라이나     1
233782  202505     충청북도  충주시    H2    71   한국계중국인     7
233783  202505     충청북도  충주시    H2    72   한국계중국인    13
233784  202505     충청북도  충주시    H2    91   한국계중국인     4
233785  202505     충청북도  충주시    H2    99   한국계중국인     6

[233786 rows x 7 columns]

In [16]:
df_202504 = df.loc[
    (df['기준년월'] == 202504) & (df['시도명'] == '경기도'),
    ['기준년월', '시도명', '시군구명', '대분류자격', '소분류자격', '국적', '외국인수']
]
df_202504

         기준년월  시도명 시군구명 대분류자격 소분류자격      국적  외국인수
3731   202504  경기도  가평군    00    00      네팔     1
3732   202504  경기도  가평군    00    00      몽골     1
3733   202504  경기도  가평군    00    00     미얀마     1
3734   202504  경기도  가평군    00    00     베트남     1
3735   202504  경기도  가평군    00    00      중국     1
...       ...  ...  ...   ...   ...     ...   ...
30793  202504  경기도  화성시    H2    99  우즈베키스탄     2
30794  202504  경기도  화성시    H2    99   우크라이나     1
30795  202504  경기도  화성시    H2    99   카자흐스탄     1
30796  202504  경기도  화성시    H2    99    키르기즈     1
30797  202504  경기도  화성시    H2    99  한국계중국인   113

[27067 rows x 7 columns]

In [17]:
df_202505 = df.loc[
    (df['기준년월'] == 202505) & (df['시도명'] == '경기도'),
    ['기준년월', '시도명', '시군구명', '대분류자격', '소분류자격', '국적', '외국인수']
]
df_202505

          기준년월  시도명 시군구명 대분류자격 소분류자격      국적  외국인수
120384  202505  경기도  가평군    00    00      네팔     1
120385  202505  경기도  가평군    00    00      몽골     1
120386  202505  경기도  가평군    00    00     미얀마     1
120387  202505  경기도  가평군    00    00     베트남     1
120388  202505  경기도  가평군    00    00      중국     1
...        ...  ...  ...   ...   ...     ...   ...
147551  202505  경기도  화성시    H2    99  우즈베키스탄     2
147552  202505  경기도  화성시    H2    99   우크라이나     1
147553  202505  경기도  화성시    H2    99   카자흐스탄     1
147554  202505  경기도  화성시    H2    99    키르기즈     1
147555  202505  경기도  화성시    H2    99  한국계중국인   117

[27172 rows x 7 columns]

### 시군구명, 대분류자격 별로 외국인수 합치기

In [79]:
df_202504_groupby = df_202504.groupby(
    ['시도명', '시군구명', '대분류자격'], as_index=False
)['외국인수'].sum()

df_202505_groupby = df_202505.groupby(
    ['시도명', '시군구명', '대분류자격'], as_index=False
)['외국인수'].sum()

In [80]:
df_202504_groupby

      시도명 시군구명 대분류자격  외국인수
0     경기도  가평군    00     6
1     경기도  가평군   D10    17
2     경기도  가평군    D2    39
3     경기도  가평군    D4    38
4     경기도  가평군    D6    11
...   ...  ...   ...   ...
1071  경기도  화성시    F5  5414
1072  경기도  화성시    F6  3790
1073  경기도  화성시    G1  2063
1074  경기도  화성시    H1    17
1075  경기도  화성시    H2  2440

[1076 rows x 4 columns]

In [81]:
df_202505_groupby

      시도명 시군구명 대분류자격  외국인수
0     경기도  가평군    00     6
1     경기도  가평군   D10    16
2     경기도  가평군    D2    42
3     경기도  가평군    D4    35
4     경기도  가평군    D6    11
...   ...  ...   ...   ...
1082  경기도  화성시    F5  5481
1083  경기도  화성시    F6  3796
1084  경기도  화성시    G1  2092
1085  경기도  화성시    H1    15
1086  경기도  화성시    H2  2407

[1087 rows x 4 columns]

### 이제 두 df 합치기

In [82]:
Treemap_2025_경기도 = df_202504_groupby.merge(
    df_202505_groupby,
    on=['시도명', '시군구명', '대분류자격'],
    suffixes=('_202504', '_202505')
)

Treemap_2025_경기도.rename(columns={
    '외국인수_202504': '202504_외국인수',
    '외국인수_202505': '202505_외국인수',
    '대분류자격': '자격_대분류'
}, inplace=True)

Treemap_2504_2505_경기도 = Treemap_2025_경기도

In [83]:
Treemap_2504_2505_경기도

      시도명 시군구명 자격_대분류  202504_외국인수  202505_외국인수
0     경기도  가평군     00            6            6
1     경기도  가평군    D10           17           16
2     경기도  가평군     D2           39           42
3     경기도  가평군     D4           38           35
4     경기도  가평군     D6           11           11
...   ...  ...    ...          ...          ...
1069  경기도  화성시     F5         5414         5481
1070  경기도  화성시     F6         3790         3796
1071  경기도  화성시     G1         2063         2092
1072  경기도  화성시     H1           17           15
1073  경기도  화성시     H2         2440         2407

[1074 rows x 5 columns]

### 자격_코드명 추가

In [84]:
name = pd.read_excel("C:/HANSSAK/SecureGate/Download/250529_대분루자격코드명_메타/250529_대분류자격코드명_메타.xlsx")
name = dict(zip(name['자격_대분류'], name['LW_NM']))

In [85]:
name

{0: '자격없음',
 'A1': '외교',
 'A2': '공무',
 'A3': '협정',
 'B1': '사증면제',
 'B2': '관광통과',
 'C1': '일시취재',
 'C2': '단기상용',
 'C3': '단기방문',
 'C4': '단기취업',
 'D1': '문화예술',
 'D10': '구직',
 'D2': '유학',
 'D3': '기술연수',
 'D4': '일반연수',
 'D5': '취재',
 'D6': '종교',
 'D7': '주재',
 'D8': '기업투자',
 'D9': '무역경영',
 'E1': '교수',
 'E10': '선원취업',
 'E2': '회화',
 'E3': '연구',
 'E4': '기술지도',
 'E5': '전문직업',
 'E6': '예술흥행',
 'E7': '특정활동',
 'E8': '계절근로',
 'E9': '비전문취업',
 'F1': '방문동거',
 'F2': '거주',
 'F3': '동반',
 'F4': '재외동포',
 'F5': '영주',
 'F6': '결혼이민',
 'G1': '기타',
 'H1': '관광취업',
 'H2': '방문취업',
 'T1': '관광상륙',
 'T2': '조건부입국허가'}

In [86]:
Treemap_2504_2505_경기도['자격_코드명'] = Treemap_2504_2505_경기도['자격_대분류'].map(name)
Treemap_2504_2505_경기도

      시도명 시군구명 자격_대분류  202504_외국인수  202505_외국인수 자격_코드명
0     경기도  가평군     00            6            6    NaN
1     경기도  가평군    D10           17           16     구직
2     경기도  가평군     D2           39           42     유학
3     경기도  가평군     D4           38           35   일반연수
4     경기도  가평군     D6           11           11     종교
...   ...  ...    ...          ...          ...    ...
1069  경기도  화성시     F5         5414         5481     영주
1070  경기도  화성시     F6         3790         3796   결혼이민
1071  경기도  화성시     G1         2063         2092     기타
1072  경기도  화성시     H1           17           15   관광취업
1073  경기도  화성시     H2         2440         2407   방문취업

[1074 rows x 6 columns]

In [87]:
# 안전한 계산을 위해 0으로 나누는 경우 대비
def calc_rate_change(new, old):
    return (new - old) / old if old != 0 else None

# 증감률 계산
Treemap_2504_2505_경기도["2504to2505"] = (((Treemap_2504_2505_경기도["202505_외국인수"] - Treemap_2504_2505_경기도["202504_외국인수"]) / Treemap_2504_2505_경기도["202504_외국인수"]) * 100).round(2)

Treemap_2504_2505_경기도

      시도명 시군구명 자격_대분류  202504_외국인수  202505_외국인수 자격_코드명  2504to2505
0     경기도  가평군     00            6            6    NaN        0.00
1     경기도  가평군    D10           17           16     구직       -5.88
2     경기도  가평군     D2           39           42     유학        7.69
3     경기도  가평군     D4           38           35   일반연수       -7.89
4     경기도  가평군     D6           11           11     종교        0.00
...   ...  ...    ...          ...          ...    ...         ...
1069  경기도  화성시     F5         5414         5481     영주        1.24
1070  경기도  화성시     F6         3790         3796   결혼이민        0.16
1071  경기도  화성시     G1         2063         2092     기타        1.41
1072  경기도  화성시     H1           17           15   관광취업      -11.76
1073  경기도  화성시     H2         2440         2407   방문취업       -1.35

[1074 rows x 7 columns]

In [88]:
Treemap_2504_2505_경기도.loc[Treemap_2504_2505_경기도['자격_대분류']=='00', '자격_코드명'] = '자격없음'
Treemap_2504_2505_경기도

      시도명 시군구명 자격_대분류  202504_외국인수  202505_외국인수 자격_코드명  2504to2505
0     경기도  가평군     00            6            6   자격없음        0.00
1     경기도  가평군    D10           17           16     구직       -5.88
2     경기도  가평군     D2           39           42     유학        7.69
3     경기도  가평군     D4           38           35   일반연수       -7.89
4     경기도  가평군     D6           11           11     종교        0.00
...   ...  ...    ...          ...          ...    ...         ...
1069  경기도  화성시     F5         5414         5481     영주        1.24
1070  경기도  화성시     F6         3790         3796   결혼이민        0.16
1071  경기도  화성시     G1         2063         2092     기타        1.41
1072  경기도  화성시     H1           17           15   관광취업      -11.76
1073  경기도  화성시     H2         2440         2407   방문취업       -1.35

[1074 rows x 7 columns]

### excel로 추출하기

In [89]:
Treemap_2504_2505_경기도.to_csv(
    "C:\\HANSSAK\\SecureGate\\Download\\Treemap_2504_2505_경기도.csv",
    index=False,
    encoding='cp949'
)

## 계절근로 데이터만 빼기

In [90]:
df= pd.read_csv("C:\\HANSSAK\\SecureGate\\Download\\Treemap_2504_2505_경기도.csv", encoding='cp949')
df

      시도명 시군구명 자격_대분류  202504_외국인수  202505_외국인수 자격_코드명  2504to2505
0     경기도  가평군     00            6            6   자격없음        0.00
1     경기도  가평군    D10           17           16     구직       -5.88
2     경기도  가평군     D2           39           42     유학        7.69
3     경기도  가평군     D4           38           35   일반연수       -7.89
4     경기도  가평군     D6           11           11     종교        0.00
...   ...  ...    ...          ...          ...    ...         ...
1069  경기도  화성시     F5         5414         5481     영주        1.24
1070  경기도  화성시     F6         3790         3796   결혼이민        0.16
1071  경기도  화성시     G1         2063         2092     기타        1.41
1072  경기도  화성시     H1           17           15   관광취업      -11.76
1073  경기도  화성시     H2         2440         2407   방문취업       -1.35

[1074 rows x 7 columns]

In [91]:
df_202504_계절 = df.loc[
    (df['기준년월'] == 202504) & (df['대분류자격'] == 'E8'),
    ['기준년월', '시도명', '시군구명', '대분류자격', '소분류자격', '국적', '외국인수']
]
df_202504_계절

KeyError: '기준년월'

In [49]:
df_202505_계절 = df.loc[
    (df['기준년월'] == 202505) & (df['대분류자격'] == 'E8'),
    ['기준년월', '시도명', '시군구명', '대분류자격', '소분류자격', '국적', '외국인수']
]
df_202505_계절

          기준년월      시도명     시군구명 대분류자격 소분류자격    국적  외국인수
116753  202505  강원특별자치도      강릉시    E8    01   라오스    66
116754  202505  강원특별자치도      강릉시    E8    02   베트남    48
116755  202505  강원특별자치도      강릉시    E8    02  캄보디아     3
117137  202505  강원특별자치도      고성군    E8    02   베트남    16
117279  202505  강원특별자치도      동해시    E8    02   베트남     3
...        ...      ...      ...   ...   ...   ...   ...
232793  202505     충청북도  청주시 흥덕구    E8    03   라오스     1
233422  202505     충청북도      충주시    E8    01   라오스    60
233423  202505     충청북도      충주시    E8    01  캄보디아   163
233424  202505     충청북도      충주시    E8    02   베트남    86
233425  202505     충청북도      충주시    E8    02    중국     1

[744 rows x 7 columns]

In [50]:
df_202504_계절_groupby = df_202504_계절.groupby(
    ['시도명', '시군구명', '대분류자격'], as_index=False
)['외국인수'].sum()

df_202505_계절_groupby = df_202505_계절.groupby(
    ['시도명', '시군구명', '대분류자격'], as_index=False
)['외국인수'].sum()

In [51]:
Treemap_2025_계절 = df_202504_계절_groupby.merge(
    df_202505_계절_groupby,
    on=['시도명', '시군구명', '대분류자격'],
    suffixes=('_202504', '_202505')
)

Treemap_2025_계절.rename(columns={
    '외국인수_202504': '202504_외국인수',
    '외국인수_202505': '202505_외국인수',
    '대분류자격': '자격_대분류'
}, inplace=True)

Treemap_2504_2505_계절 = Treemap_2025_계절

In [52]:
Treemap_2504_2505_계절

         시도명     시군구명 자격_대분류  202504_외국인수  202505_외국인수
0    강원특별자치도      강릉시     E8          110          117
1    강원특별자치도      고성군     E8           13           16
2    강원특별자치도      삼척시     E8           80          179
3    강원특별자치도      속초시     E8           12           11
4    강원특별자치도      양구군     E8          136          136
..       ...      ...    ...          ...          ...
153     충청북도  청주시 상당구     E8           24           26
154     충청북도  청주시 서원구     E8           11           11
155     충청북도  청주시 청원구     E8            6            7
156     충청북도  청주시 흥덕구     E8           84          111
157     충청북도      충주시     E8          153          310

[158 rows x 5 columns]

In [53]:
# 안전한 계산을 위해 0으로 나누는 경우 대비
def calc_rate_change(new, old):
    return (new - old) / old if old != 0 else None

# 증감률 계산
Treemap_2504_2505_계절["2504to2505"] = (((Treemap_2504_2505_계절["202505_외국인수"] - Treemap_2504_2505_계절["202504_외국인수"]) / Treemap_2504_2505_계절["202504_외국인수"]) * 100).round(2)

Treemap_2504_2505_계절

         시도명     시군구명 자격_대분류  202504_외국인수  202505_외국인수  2504to2505
0    강원특별자치도      강릉시     E8          110          117        6.36
1    강원특별자치도      고성군     E8           13           16       23.08
2    강원특별자치도      삼척시     E8           80          179      123.75
3    강원특별자치도      속초시     E8           12           11       -8.33
4    강원특별자치도      양구군     E8          136          136        0.00
..       ...      ...    ...          ...          ...         ...
153     충청북도  청주시 상당구     E8           24           26        8.33
154     충청북도  청주시 서원구     E8           11           11        0.00
155     충청북도  청주시 청원구     E8            6            7       16.67
156     충청북도  청주시 흥덕구     E8           84          111       32.14
157     충청북도      충주시     E8          153          310      102.61

[158 rows x 6 columns]

In [54]:
Treemap_2504_2505_계절['자격_코드명'] = Treemap_2504_2505_계절['자격_대분류'].map(name)
Treemap_2504_2505_계절

         시도명     시군구명 자격_대분류  202504_외국인수  202505_외국인수  2504to2505 자격_코드명
0    강원특별자치도      강릉시     E8          110          117        6.36   계절근로
1    강원특별자치도      고성군     E8           13           16       23.08   계절근로
2    강원특별자치도      삼척시     E8           80          179      123.75   계절근로
3    강원특별자치도      속초시     E8           12           11       -8.33   계절근로
4    강원특별자치도      양구군     E8          136          136        0.00   계절근로
..       ...      ...    ...          ...          ...         ...    ...
153     충청북도  청주시 상당구     E8           24           26        8.33   계절근로
154     충청북도  청주시 서원구     E8           11           11        0.00   계절근로
155     충청북도  청주시 청원구     E8            6            7       16.67   계절근로
156     충청북도  청주시 흥덕구     E8           84          111       32.14   계절근로
157     충청북도      충주시     E8          153          310      102.61   계절근로

[158 rows x 7 columns]

In [55]:
Treemap_2504_2505_계절.to_csv(
    "C:\\HANSSAK\\SecureGate\\Download\\Treemap_2504_2505_계절.csv",
    index=False,
    encoding='cp949'
)

#### 경기도 시군구로 나누기

In [95]:
df = pd.read_csv("C:/HANSSAK/SecureGate/Download/Treemap_2504_2505_경기도.csv", encoding='cp949')
df

      시도명 시군구명 자격_대분류  202504_외국인수  202505_외국인수 자격_코드명  2504to2505
0     경기도  가평군     00            6            6   자격없음        0.00
1     경기도  가평군    D10           17           16     구직       -5.88
2     경기도  가평군     D2           39           42     유학        7.69
3     경기도  가평군     D4           38           35   일반연수       -7.89
4     경기도  가평군     D6           11           11     종교        0.00
...   ...  ...    ...          ...          ...    ...         ...
1069  경기도  화성시     F5         5414         5481     영주        1.24
1070  경기도  화성시     F6         3790         3796   결혼이민        0.16
1071  경기도  화성시     G1         2063         2092     기타        1.41
1072  경기도  화성시     H1           17           15   관광취업      -11.76
1073  경기도  화성시     H2         2440         2407   방문취업       -1.35

[1074 rows x 7 columns]

In [93]:
df_E8 = df[df['자격_대분류'] == 'E8']
df_E8

      시도명      시군구명 자격_대분류  202504_외국인수  202505_외국인수 자격_코드명  2504to2505
41    경기도   고양시 덕양구     E8           55           61   계절근로       10.91
67    경기도  고양시 일산동구     E8           30           36   계절근로       20.00
93    경기도  고양시 일산서구     E8           48           58   계절근로       20.83
135   경기도       광명시     E8           13           11   계절근로      -15.38
161   경기도       광주시     E8            2            7   계절근로      250.00
231   경기도       김포시     E8           25           35   계절근로       40.00
258   경기도      남양주시     E8            5            8   계절근로       60.00
283   경기도      동두천시     E8           15           25   계절근로       66.67
454   경기도   수원시 권선구     E8            2            2   계절근로        0.00
555   경기도       시흥시     E8           46           46   계절근로        0.00
629   경기도       안성시     E8           98          133   계절근로       35.71
701   경기도       양주시     E8          295          425   계절근로       44.07
721   경기도       양평군     E8          123          186   계절근로       51.22
744   경기도       여주시     E8          335          753   계절근로      124.78
765   경기도       연천군     E8          144          279   계절근로       93.75
862   경기도   용인시 처인구     E8           47          113   계절근로      140.43
908   경기도      의정부시     E8           10           18   계절근로       80.00
933   경기도       이천시     E8           18          258   계절근로     1333.33
958   경기도       파주시     E8           91          139   계절근로       52.75
988   경기도       평택시     E8          186          241   계절근로       29.57
1012  경기도       포천시     E8           37           55   계절근로       48.65
1063  경기도       화성시     E8           18           58   계절근로      222.22

### 시군으로 통일하기

In [75]:
df_E8

          시군구명 자격_대분류  202504_외국인수  202505_외국인수 자격_코드명  2504to2505
41     고양시 덕양구     E8           55           61   계절근로       10.91
67    고양시 일산동구     E8           30           36   계절근로       20.00
93    고양시 일산서구     E8           48           58   계절근로       20.83
135        광명시     E8           13           11   계절근로      -15.38
161        광주시     E8            2            7   계절근로      250.00
231        김포시     E8           25           35   계절근로       40.00
258       남양주시     E8            5            8   계절근로       60.00
283       동두천시     E8           15           25   계절근로       66.67
454    수원시 권선구     E8            2            2   계절근로        0.00
555        시흥시     E8           46           46   계절근로        0.00
629        안성시     E8           98          133   계절근로       35.71
701        양주시     E8          295          425   계절근로       44.07
721        양평군     E8          123          186   계절근로       51.22
744        여주시     E8          335          753   계절근로      124.78
765        연천군     E8          144          279   계절근로       93.75
862    용인시 처인구     E8           47          113   계절근로      140.43
908       의정부시     E8           10           18   계절근로       80.00
933        이천시     E8           18          258   계절근로     1333.33
958        파주시     E8           91          139   계절근로       52.75
988        평택시     E8          186          241   계절근로       29.57
1012       포천시     E8           37           55   계절근로       48.65
1063       화성시     E8           18           58   계절근로      222.22

In [ ]:
df_gg_groupby = df_gg.groupby(
    ['시군명', '자격_대분류', '자격_코드명'], as_index=False
)[['202504_외국인수', '202505_외국인수']].sum()

df_gg_groupby

KeyError: '시군명'

In [67]:
df_E8

,시도명,시군구명,시군명,자격_대분류,202504_외국인수,시도명_202505,202505_외국인수,2504to2505,자격_코드명
0,강원특별자치도,강릉시,강릉시,E8,110,강원특별자치도,117,6.36,계절근로
1,강원특별자치도,고성군,고성군,E8,13,강원특별자치도,16,23.08,계절근로
2,강원특별자치도,고성군,고성군,E8,13,경상남도,145,1015.38,계절근로
3,강원특별자치도,삼척시,삼척시,E8,80,강원특별자치도,179,123.75,계절근로
4,강원특별자치도,속초시,속초시,E8,12,강원특별자치도,11,-8.33,계절근로
...,...,...,...,...,...,...,...,...,...
159,충청북도,청주시 상당구,청주시,E8,24,충청북도,26,8.33,계절근로
160,충청북도,청주시 서원구,청주시,E8,11,충청북도,11,0.00,계절근로
161,충청북도,청주시 청원구,청주시,E8,6,충청북도,7,16.67,계절근로
162,충청북도,청주시 흥덕구,청주시,E8,84,충청북도,111,32.14,계절근로
163,충청북도,충주시,충주시,E8,153,충청북도,310,102.61,계절근로

In [ ]:
df_gg_groupby = df_gg.groupby(
    ['', '시군명', '자격_대분류', '자격_코드명'], as_index=False
)[['202504_외국인수', '202505_외국인수']].sum()

df_gg_groupby