### add population

In [1]:
import pandas as pd
import numpy as np

In [15]:
df_from = pd.read_csv("C:\\HANSSAK\\SecureGate\\Download\\[09] 세계지도.csv", encoding='cp949')
df_to = pd.read_csv("C:\\HANSSAK\\SecureGate\\Download\\출입국자_지도_국가코드_6대륙.csv", encoding='cp949')

In [19]:
df_from[df_from['NAT_NM']=="대한민국"]

    code NAT_NM     lng     lat  POP_CT_1000_UNIT_CNT  IMGRT_CNT
27     0   대한민국  128.16  36.338                 51269       1728

In [ ]:
mapping = df_from.set_index('NAT_NM')['POP_CT_1000_UNIT_CNT']
df_to['POP_CT_1000_UNIT_CNT'] = df_to['NAT_HAN_NM'].map(mapping)

,code,NAT_HAN_NM,lng,lat,CNT,대륙,CONTINENT,POP_CT_1000_UNIT_CNT
0,646,홍콩,114.0599,22.4114,996,아시아,ASIA,7497.0
1,412,헝가리,19.6180,47.1740,49946,유럽,EUROPE,9660.0
2,0,한국,128.1600,36.3380,2190,아시아,ASIA,NaN
3,611,필리핀,121.2560,17.1810,0,아시아,ASIA,109581.0
4,430,핀란드,26.1920,62.7160,2270,유럽,EUROPE,5541.0
...,...,...,...,...,...,...,...,...
216,0,과들루프,-61.5527,16.2495,0,북아메리카,NaN,400.0
217,546,감비아,-14.6410,13.4990,0,아프리카,AFRICA,2417.0
218,205,가이아나,-58.9390,5.1700,0,남아메리카,SA,787.0
219,537,가봉,11.9140,-0.4060,0,아프리카,AFRICA,2226.0
220,525,가나,-1.0620,7.2580,0,아프리카,AFRICA,31073.0

In [ ]:
df_to[df_to['POP_CT_1000_UNIT_CNT'].isna()]

,code,NAT_HAN_NM,lng,lat,CNT,대륙,CONTINENT,POP_CT_1000_UNIT_CNT
2,0,한국,128.1600,36.3380,2190,아시아,ASIA,NaN
12,0,팔라우,134.5573,7.5288,0,오세아니아,OCEANIA,NaN
17,0,티모르민주공화국,125.5560,-8.8560,0,아시아,ASIA,NaN
21,0,투발루,178.6758,-7.4786,0,오세아니아,OCEANIA,NaN
25,0,터크스케이커스,-71.7592,21.7779,432,북아메리카,NaN,NaN
28,614,타이완,120.8353,23.6091,500,아시아,ASIA,NaN
29,605,타이,100.8450,15.6880,0,아시아,ASIA,NaN
30,642,키프로스,32.9280,34.8940,514,유럽,EUROPE,NaN
35,0,쿡아일랜드,-159.8200,-21.2020,0,오세아니아,OCEANIA,NaN
38,548,콩고민주공화국,23.6070,-1.4180,0,아프리카,AFRICA,NaN
39,536,콩고,16.0800,0.5090,0,아프리카,AFRICA,NaN
44,0,케이맨제도,-81.1715,19.3299,0,북아메리카,NaN,NaN
54,0,차트,18.7810,15.9810,14,아프리카,AFRICA,NaN
78,701,오스트레일리아,133.5820,-24.5780,547,오세아니아,OCEANIA,NaN
80,0,예멘공화국,47.7930,15.5690,0,아시아,ASIA,NaN
81,0,영령버진아일랜드,-64.6400,18.4204,0,북아메리카,NaN,NaN
89,0,앵귈라,-63.0406,18.2177,29,북아메리카,NaN,NaN
90,0,앤티카바부다,-61.7860,17.6250,250,북아메리카,NaN,NaN
94,435,안도라,1.5893,42.5425,5422,유럽,EUROPE,NaN
103,0,아랍에미리트연합,53.9031,23.9299,20238,아시아,ASIA,NaN
105,0,신트마르턴,-63.0544,18.0340,482,북아메리카,NaN,NaN
109,0,슬로바크,19.4434,48.8595,1562,유럽,EUROPE,NaN
116,0,솔로몬군도,160.1487,-9.5987,0,오세아니아,OCEANIA,NaN
118,0,세인트크리스토퍼네비스,-62.5800,17.1470,123,북아메리카,NaN,NaN
119,0,세인트빈센트그레나딘,-61.1949,13.2528,57,북아메리카,NaN,NaN
120,0,세인트루시아,-60.9776,13.9090,297,북아메리카,NaN,NaN
125,0,산마리노,12.4611,43.9420,1354,유럽,EUROPE,NaN
127,0,사바섬,-68.2465,12.1671,0,북아메리카,NaN,NaN
131,0,불령폴리네시아,-149.5300,-17.5290,83,오세아니아,OCEANIA,NaN
132,0,불령가이아나,-53.0359,3.9351,0,남아메리카,SA,NaN
136,0,북마리아나군도,145.7471,15.1905,13,오세아니아,OCEANIA,NaN
142,0,보스니아-헤르체고비나,17.8040,44.3420,0,유럽,EUROPE,NaN
143,0,보네르섬,-68.2465,12.1671,0,북아메리카,NaN,NaN
150,0,버뮤다,-64.7737,32.3019,85,남아메리카,SA,NaN
156,0,미이크로네시아,150.4570,7.5310,0,오세아니아,OCEANIA,NaN
158,0,미령사모아,-170.7511,-14.3018,0,오세아니아,OCEANIA,NaN
159,0,미령버진아일랜드,-64.7592,17.7289,1072,북아메리카,NaN,NaN
166,0,몬서래트,-62.1928,16.7492,2,북아메리카,NaN,NaN
168,508,모리타니,-10.6528,19.4130,0,아시아,ASIA,NaN
171,0,모나코,7.4243,43.7384,0,유럽,EUROPE,NaN
177,0,마샬군도,169.6510,5.9610,0,오세아니아,OCEANIA,NaN
180,0,리히텐슈타인,9.5470,47.1593,0,유럽,EUROPE,NaN
189,0,러시아(연방),104.0620,64.7360,0,유럽,EUROPE,NaN
194,0,도미니카연방,-61.3411,15.4238,66,북아메리카,NaN,NaN
199,0,니우에,-169.8600,-19.0330,0,오세아니아,OCEANIA,NaN
200,705,뉴칼레도니아,165.0620,-21.0200,0,오세아니아,OCEANIA,NaN
206,0,남수단공화국,30.4800,7.1000,0,아프리카,AFRICA,NaN
208,0,나우루,166.9315,-0.5287,0,오세아니아,OCEANIA,NaN

In [26]:
df_to.to_csv("C:\\HANSSAK\\SecureGate\\Download\\출입국자_지도_국가코드_6대륙_인구수.csv", encoding='cp949', index=False)